.search-form{
    background: rgba(0,0,0,0.5);
    height: 400px;
    width: 900px;
    position: absolute;top:30%;  left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow-y:auto;
}

.search-result{
    position: sticky;
    margin-top: 30%;
    margin-left: 11%;
    margin-right: 13%;
    background-image: linear-gradient(#b6eadc 10%, #9dc9d6 60%);
    background-attachment: fixed;
    overflow-y:auto;
    border-radius: 10px;
}
.search-flights{
    position: static;
    background-image: linear-gradient(#ade0d2 10%, #96c1ce 60%);
    background-attachment: fixed;
}
.wallpaper{
    /*background: #e2ffef repeat-y;*/
    /*position: fixed; left: 10%; top: 0;*/
    /*height: 100%;*/
    /*width: 1200px;*/
    /*border-radius: 10px;*/

}
.footer{
    position: fixed;
}

.btn-next{
    border-radius: 10px;
    background-color: #8ba4d8;
    color: white;
    padding: 10px 15px;
    margin-top: 1%;
    margin-left: 0%;
    border: none;
    cursor: pointer;
    width: 5%;
}
.btn-prev{
    border-radius: 10px;
    background-color: #8ba4d8;
    color: white;
    padding: 10px 15px;
    margin-top: 1%;
    margin-left: 45%;
    border: none;
    cursor: pointer;
    width: 5%;
}
.back-img{
    background-repeat:no-repeat;
    position: absolute;top: 30%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
h1{

    color: white;
    margin-left: 2%;
}
label{
    color: #5e5e5e;
    font: 60% Gargi;
    margin-left: 6%;

}
.tick-button{
    background-color: rgba(0,0,0,0.5);
    width: 17%;
    border-radius: 10px;
    margin-left: 2%;
}
.choose-btn{
    background-color: rgba(0,0,0,0) ;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;

}
.material-icons{
    color: #929292;
}
.flight-form-body-mt{

}

.btn-details {
    border-radius: 10px;
    background-color: #a5afff;
    color: white;
    padding: 14px 20px;
    margin-top: 1%;
    margin-left: 2%;
    border: none;
    cursor: pointer;
    width: 100%;
}

.page-size-label{
    margin-left: 12%;
    position: absolute;
}
#pageSize{
    border-radius: 10px;
    background-color: #a5afff;
    position: static;
    color: white;
    padding: 5px 5px;
    margin-top: 1%;
    margin-left: 18%;
    border: none;
    cursor: pointer;
    width: 6%;
}
.item {
    background: #c1dfc4;
    border-style: solid;
    border-color: #c8ffbd;
    border-radius: 14px;
    border-width: 1px;
    padding: 3px;
    position: relative;
    margin-bottom: 5px;
    margin-left: 10%;
    top: 0;
    height: 20%;
    width: 80%;
    display: grid;
    justify-content: center;
}
.flight-from-body{
    margin-top: 1%;
    margin-left: 2%;
    background: #fff1fd;
    width: 40%;
    border-radius: 4px;
    display: inline-block;
}
.flights-depart-body{
    margin-top: 1%;
    margin-left: 2%;
    background: #fff1fd;
    width: 21%;
    border-radius: 4px;
    display: inline-block;
}
.flights-return-body{
    margin-top: 1%;
    margin-left: 0.7%;
    background: #fff1fd;
    width: 21%;
    border-radius: 4px;
    display: inline-block;
}
.btn-Searcher{
    border-radius: 10px;
    background-color: #a5afff;
    color: white;
    padding: 14px 20px;
    margin-top: 1%;
    margin-left: 2%;
    border: none;
    cursor: pointer;
    width: 10%;
}
.flight-to-body{
    margin-top: 1%;
    margin-left: 2%;
    background: #fff1fd;
    width: 40%;
    border-radius: 4px;
    display: inline-block;
}

input[type=date]{
    width: 80%;
    background: white;
    padding: 8px 10px;
    display: inline-block;
    margin-bottom: 3%;
    border: 0px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type=text]{
    width: 80%;
    background: white;
    padding: 8px 10px;
    display: inline-block;
    margin-bottom: 3%;
    border: 0px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}
.first_price{
    margin-top: 1%;
    margin-left: 0.7%;
    background: #fff1fd;
    width: 21%;
    border-radius: 4px;
    display: inline-block;
}
.eco_price{
    margin-top: 1%;
    margin-left: 0.7%;
    background: #fff1fd;
    width: 21%;
    border-radius: 4px;
    display: inline-block;
}