.auth-form-body-mt  {
    border:   1px solid #cfe8ff;
    border-radius: 10px;
    background: rgb(255, 255, 255);
  padding: 30px;

}
.create-account-callout{
    border:   1px solid #cfe8ff;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 30px;
}
.session-authentication {
    background: rgba(218, 215, 226, 0.26);
    padding: 200px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.btn-Sign-in{
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 5%;
    margin-left: 25%;
    border: none;
    cursor: pointer;
    width: 50%;



}
.header-logo{
    margin-left: 35%;
}
.create-account-callout{
    font: 90% Gargi;
}
.label-link-create{
    margin-left: 2%;
    color: #3f41ff;
    text-decoration: none;
    font: 90% Gargi;
}
.label-link{
    margin-left: 25%;
    color: #3f41ff;
    text-decoration: none;
    font: 90% Samanata;
}
h1{
    margin-left: 15%;
    font: 200% serif;
}
label{
    font: 90% Samanata;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 2%;
    margin-bottom: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}