html {
    background-image: linear-gradient(#c1dfc4 0%, #deecdd 100%);
    background-attachment: fixed;
    font-size: 14px;
    font-family: "Arial Narrow", Arial, sans-serif;
    color: darkolivegreen;
}

.container {
    margin: 5% 0 5% 0 ;
    text-align: center;
    position: relative;
    color: #c1dfc4;
    justify-content: space-around;
}
.wings {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 40%;
}
.bottom-wings {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 30%;
    min-width: 400px;
    overflow: hidden;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, 0);
}
.wing-right {
    top: 15%;
    position: relative;
    height: 36%;
    border-left: 750px solid darkolivegreen;
    border-top: 125px solid transparent;
    transform: skewY(10deg);

}
.wing-left {
    top: 15%;
    position: relative;
    height: 36%;
    border-right: 750px solid darkolivegreen;
    border-top: 125px solid transparent;
    transform: skewY(-10deg);

}


.front {
    width: 333px;
    height: 180px;
    line-height: 1.8;
    position: relative;
    text-align: center;
    border-bottom: 2px dashed olivedrab;
}
h1 {
    position: relative;
    width: 60%;
    margin: 100px auto 35px auto;
}

/*exit signs*/
div.seatCharts-seat.unavailable.exit {
    cursor: initial;
    background: #33cd33;
    background-clip: content-box;
    display: block;
    top: 10px;
    height: 20px;
    line-height: 20px;
    border-radius: initial;
}

.booking-form {
    background: rgba(208, 207, 196, 0.3);
    font-size: 20px;
    /*text-align: center;*/
    padding: 0 40px 40px;
    max-width: 400px;
    top: 50%;
    left: 5%;
    right: 0;
    transform: translateY(-50%);
    position: fixed;
    z-index: 2;
}

.booking-form .form-header {
    padding: 40px;
    margin: 0 -40px 30px;
    background: rgba(85, 107, 47, 0.5);
}

.booking-form .form-header h1 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
    color: #cbd0c4;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

#order-info-date{
    font-size: 24px;

    margin-left: 3%;
    margin-top: 5px;
}
#order-info-flight{
    font-size: 24px;

    margin-left: 3%;
}
.booking-form .submit-btn {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(85, 107, 47, 0.5);
    font-weight: 700;
    height: 50px;
    border: none;
    padding: 0 50px;
}

div.seatCharts-cell {position:relative; background-color: darkolivegreen;height: 40px;width: 40px;line-height: 40px;margin: 4px;}
div.seatCharts-seat {color: #FFFFFF; cursor: pointer;}
div.seatCharts-row {height: 50px; background-color: darkolivegreen; margin-right: 4px; margin-left: 4px;}
div.seatCharts-seat.available {background-color: #a1e46b; color: darkolivegreen;}
div.seatCharts-seat.available.first-class { background-color: #9de1f6; width: 64px;}
div.seatCharts-seat.focused {background-color: #299617;}
div.seatCharts-seat.focused.first-class {background-color: #1292bd; width: 64px;}
div.seatCharts-seat.selected {background-color: #f4c2c2; color: #517281;}
div.seatCharts-seat.selected.first-class {background-color: #fff198; width: 64px}
div.seatCharts-seat.unavailable {background-color: #a3ac97;cursor: not-allowed;}
div.seatCharts-seat.unavailable.first-class {width: 64px;}
div.seatCharts-container {
    text-align: center;
    display: inline-block;
    position: relative;
    width: max-content;
    border-top-left-radius: 150px 300px;
    border-top-right-radius: 150px 300px;
    background-color: darkolivegreen;
    z-index: 1;
}

/*div.seatCharts-container::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 99%;*/
/*    left: -50%;*/
/*    height: 13%;*/
/*    width: 200%;*/
/*    background-color: #cbd0c4;*/
/*    border-top-left-radius: 250px;*/
/*    border-top-right-radius: 250px;*/
/*    margin-bottom: 150px;*/
/*    z-index: -1;*/
/*}*/

div.seatCharts-legend {padding-left: 0;position: fixed;bottom: 16px;z-index: 10}
ul.seatCharts-legendList {padding-left: 0;}
span.seatCharts-legendDescription {margin-left: 5px;line-height: 50px;}

#selected-seats {background: #cbd0c4; max-height: 100px;overflow-y: scroll;width: 200px;}
