html {
    background-image: linear-gradient(#c1dfc4 0%, #deecdd 100%);
    background-attachment: fixed;
    font-size: 14px;
    font-family: "Arial Narrow", Arial, sans-serif;

}
.order-form{
    border:   1px solid #cfe8ff;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 15px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
}
.submit-form{
    border:   1px solid #FFFFFF;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 15px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -13px;
    position: fixed;



}
.checkbox-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

}
.checkbox-container input:checked ~ .checkmark {
    background-color: #b3edf3;
}
.checkbox-container:hover input ~ .checkmark {
    background-color: #dedfe2;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rules{
    border:   1px solid #cfe8ff;
    border-radius: 10px;
    background: rgb(227, 247, 249);
    padding: 15px;
    overflow-y: scroll;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    height: 400px;
}
.header{
    margin-left: 45%;
}
.ticket{
    margin-left: 40%;
}
.tickets-in-order{

}