html{
    font-family: "Arial Narrow", Arial, sans-serif;
}
.success-img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 40%;
}
.main{
    background: #c4d7d7;
    position: fixed; top:20%;left:32%;
    width: 500px;
    height: 500px;
    border-radius: 15px;

}
.return{
    position: absolute;
    top:83%;
    left:30%;
    border-radius: 10px;
    background-color: #a5afff;
    color: white;
    padding: 14px 15px;
    border: none;
    cursor: pointer;
    width: 40%;
}
.header{
    position: absolute;
    top:27%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
.success-info{
    position: absolute;
    top:37%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.airline-info{
    position: absolute;
    top:80%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
