html{

    font-family: "Arial Narrow", Arial, sans-serif;

}
.main{
    background: #c4d7d7;
    position: fixed; top:20%;left:32%;
    width: 500px;
    height: 500px;
    border-radius: 15px;

}
#main-info{
    position: absolute;
    top:7%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
#info{
    position: absolute;
    top:17%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.choose-place-btn{
    position: absolute;
    top:85%;
    left:40%;
    border-radius: 10px;
    background-color: #a5afff;
    color: white;
    padding: 14px 20px;

    border: none;
    cursor: pointer;
    width: 25%;
}